<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <servlet>
      <servlet-name>test1</servlet-name>
      <servlet-class>test1</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>test1</servlet-name>
      <url-pattern>/test1</url-pattern>
    </servlet-mapping>
</web-app>
